*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body,
#root {
  height: 100%;
  width: 100%;
}

body {
  overflow: hidden;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -webkit-tap-highlight-color: transparent;
}

img {
  max-width: 100%;
  display: block;
}

button {
  font: inherit;
  color: inherit;
  cursor: pointer;
  border: none;
  background: none;
}

a {
  color: inherit;
}

ul,
ol {
  list-style: none;
}

:root {
  --xp-blue: #245edc;
  --xp-blue-dark: #0831d9;
  --xp-title-1: #0058ee;
  --xp-title-2: #3a93ff;
  --xp-green: #3c9a1e;
  --ios-blue: #007aff;
}
